<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h3 class="mb-4"><i class="fas fa-cog fa-spin"></i> RE_BROTHER BLOG <i class="fas fa-cog fa-spin"></i></h3>
        <P>This project was developed as Node.js </p>
      </div>

    </div>
  </body>
</html>
